<!-- Now we will create a crud in ionic -->
<!-- class="ion-no-border" -->
<!-- Mode  will determine the ios or android then the change the style accordingly -->
<ion-header [translucent]="true" mode="md" >
  <!-- Positions to the right of the content in LTR, and to the left in RTL. -->
  <ion-toolbar>
    <ion-title>Todo List</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Here inset means add margin to the list   will apply margin around the list-->
  <ion-list  [inset]="true"> 
    <ion-item *ngFor="let cr of classroomsList" (click)="showDetail(cr.ID)">
      <ion-label>
        Compute Icon
      </ion-label>
      <ion-icon name="desktop" slot="start"></ion-icon>
      <!-- <ion-icon name="desktop" slot="start"></ion-icon> -->
      {{cr.ID}}
      <div class="item-note" slot="end">
        {{cr.Name}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>






<!-- Hello World code here -->
<!-- Add the translucent property binding on the ion-tab-bar to be true to enable the styling presets set by the Ionic Core team.
<ion-header [translucent]="true">  
  <ion-toolbar >
    <ion-title>
      Task Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

 In certain cases, it may be desired to have the content scroll behind the header and footer, such as when the translucent property is set on either of them, or opacity is set on the toolbar. This can be achieved by setting the fullscreen property on the content to true .
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Hello World</strong>
  </div>
</ion-content> -->
